@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.heading {
    @apply text-center font-heading;
}

.contactForm, .desc  {
    @apply w-full p-3;
}

/* #ff0055;
//#2DE2D6;
//#0D0221;
//#791E94; */

:root {
  background-color: #0D0221;
  /* background-image: linear-gradient(to bottom, #ff0055, #0D0221, transparent 1px); */
  background-size: 1px 12px;
}

.ground {
    height: 45vh;
    width: 120vw;
    position: fixed;
    left: -10vw;
    bottom: -1vh;
    z-index: -1;
    perspective: 45vh;
    perspective-origin: top center;
    transform-style: preserve-3d;
    border-top: 1px solid rgba(45,226,214, .3);
    background-color: #540d6e;
    background-image: radial-gradient(100% 60% at bottom, rgba(45,226,214, .1), rgba(13,2,33, 1));
    box-shadow: 0 3px 10px 2px rgba(255,255,255, .2),
      0 2px 20px 2px rgba(45,226,214, .3);
  }
  
  .ground::before{
      --alpha: .2;
      content: '';
      
      display: block;
      width: 100%;
      height: 100vh;
      
      position: absolute;
      top: 0;
      
      transform-origin: top center;
      transform: rotateX(76deg) translate3d(calc(0 * 1vw), 0, 0);
      backface-visibility: hidden;
  
      background-image:
        linear-gradient(to bottom, rgba(45,226,214, .2) 1px, transparent 1px),
        linear-gradient(to right, rgba(45,226,214, .2) 1px, transparent 1px);
      background-size: 1px 23px, calc(2 * 23px) 1px;
      background-position: 0% 0%, center;
      mix-blend-mode: color-dodge;
      
      animation: ground-lines 8s linear infinite;
      
  }
  
  
  path {
    stroke-dasharray: 1680;
    stroke-dashoffset: 1680;
    animation: draw 5s linear;
    animation-fill-mode: forwards;
    stroke-linecap: square;
    z-index: 5;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 1680;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes ground-lines {
      0% {
          background-position: 0% 0%, center;
      }
      100% {
          background-position: 0% 50%, center;
      }
  }